body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.feather-h {
  vertical-align: middle;
  margin: 10px;
}

.legend {
  text-align: center;
}

.legend .space {
  margin: 5px;
  padding-left: 8%;
  padding-right: 8%;
  font-size: .875rem;
  width: 100%;
}

.card {
  margin-bottom: 25px;
}

.badge-color {
  background-color: rgb(77, 117, 158);
  font-size: 11px;
}

.badge-color-current {
  background-color: rgb(77, 117, 158);
  width: 100%;
  margin-bottom: 1rem;
}

.normal {
  color: #ffffff;
}

.warning {
  color: #fbe6a8;
}

.danger {
 color: #ffc7c7;
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar-dropdown {
  padding: 1rem;
}
/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.version {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.col-xs-4.col-md-4.space{
  margin-bottom: 20px;
}

/*
* API
*/

.hljs {
  border-radius: 0.5rem;
}
